---
page_id: articles
---
{% include head.html %}

<article>
    <div class="post-title">
        <h1>{{ page.title }}</h1>
        <time>{{ page.date | date_to_string }}</time> <small>by <a href="/">{{ page.author}}</a> </small>
    </div>

    <div class="post-body">
    {{ content }}
    </div>
</article>
<aside id="disqus_thread"></aside>
<script type="text/javascript">
var disqus_shortname = 'baidu-efe';
(function() {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

{% include foot.html %}
